<div class="text-center">
	<h1>
		<i>Editing Note</i>
	</h1>
</div>
<%= render 'form', note: @note %>

<%= link_to 'Show', @note , class: "btn btn-primary btn-sm" %> |
<%= link_to 'Back', notes_path , class: "btn btn-secondary btn-sm" %>
