<div style="margin-left: 50px">
  <%= link_to 'Create Note', new_note_path , class: "btn btn-info" %>
  <%= link_to "Log out", destroy_user_session_path, class: "btn btn-dark", method: :delete %>
</div>
<div class="sidebar">
  <%= render 'layouts/sidebar' %>
</div>
<div>
  <% @notes.each do |note| %>
    <div class="main">
      <%= yield %>
    </div>
  <% end %>
</div>