<p>
   <%= comment.content %>
	<br>
   <%= link_to 'Edit',  edit_note_comment_path(comment.note, comment) , class: "btn btn-outline-primary" %>
   <%= link_to 'Delete', note_comment_path(comment.note, comment), class: "btn btn-outline-danger" ,method: :delete %>
</p> 