  <div class="form-group">
  	<%= form_with(model: comment, url: [note, comment], local: true) do |form| %> 

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content , class: "form-control"%>
  </div>
  
  <div class="actions">
    <%= form.submit %>
   <% end %>
  </div>
</div>
 
