<header class="navbar navbar-expand-lg navbar navbar-light bg-dark">
  <div class="container">
    <%= link_to "Simple Notes App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><%= link_to "Home", root_path %></li> -->
        
        <% if signed_in? %>
          <!-- <li><%= link_to "Users", notes_path %></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Profile <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Details", edit_user_password_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              <li class="divider"></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in"%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>