<div class="wrapper">
  <nav id="sidebar" class="side-nav side-nav-dark">
    <ul class="list-unstyled components">
      <% content_for :nav_links do %>
        <li class="active">
          <% @notes.each do |note| %>
            <%= link_to note.title , note_comments_path(note) %>
          <% end %>
        </li>
      <% end %> 
      <%= yield :nav_links %>
    </ul>
  </nav>
</div>